a
{
    color: inherit;
    border: none;
    outline: none;
}
html, body { height: 100%; }
body
{
    font: 12px/1.2 Arial, Helvetica, sans-serif;
    background-color: #282828;
    margin: 0;
    color: #282828;
}
#page_header { background-color: #fff; }
#page_header_logo
{
    padding: 10px 0 10px 10px;
    display: inline-block;
    margin-right: 40px;
    vertical-align: middle;
}
#page_header_logo h1
{
    text-indent: -9999px;
    overflow: hidden;
    background: url(../images/header_logo.png) no-repeat;
    margin: 0;
    width: 255px;
    height: 57px;
}
#page_header nav
{
    display: inline-block;
    vertical-align: middle;
}
#page_header nav ul
{
    margin: 0;
    padding-left: 0;
    list-style: none;
    font-size: 14px;
    font-weight: bold;
}
#page_header nav ul li
{
    display: inline;
    margin-right: 20px;
    position: relative;
    top: 0;
    -webkit-transition: top ease-in-out .5s;
    -moz-transition: top ease-in-out .5s;
    -o-transition: top ease-in-out .5s;
    -ms-transition: top ease-in-out .5s;
}
#page_header nav ul li:hover
{
    top: 5px;
    cursor: pointer;
    -webkit-transition: top ease-in-out .5s;
    -moz-transition: top ease-in-out .5s;
    -o-transition: top ease-in-out .5s;
    -ms-transition: top ease-in-out .5s;
}
#page_header nav ul li:last-child { margin-right: 0; }
#slider-wrapper
{
    background-color: #bd1818;
    text-align: center;
    box-shadow: inset 0 0 50px 10px rgba(0, 0, 0, 0.2);
    height: 600px;
    overflow: hidden;
}
#slider-wrapper ul
{
    margin: 0;
    list-style: none;
    padding-left: 0;
    height: 600px;
    width: 800px;
    overflow: hidden;
    display: inline-block;
}
#slider-wrapper li
{
    display: inline;
    height: 600px;
    overflow: hidden;
    width: 800px;
}
#welcome h1
{
    margin: 0;
    font-size: 4em;
}
#body
{
    padding: 75px 0;
    background-image: url(../images/body_background.jpg);
}
#center
{
    margin: 0 auto;
    width: 50%;
}
#center section
{
    border-radius: 10px;
    border: 1px solid #bbb;
    background-color: #fff;
    padding: 20px;
}
#page_footer { color: #fff; }
#page_footer_content
{
    background: #333 url(../images/footer_background.png) repeat;
    padding: 20px;
    border-bottom: 1px solid #444;
}
#page_footer_logo { display: inline-block; }
#page_footer_logo h1
{
    text-indent: -9999px;
    overflow: hidden;
    background: url(../images/footer_logo.png) no-repeat;
    margin: 0;
    width: 225px;
    height: 50px;
}
#page_footer p { margin: 0 0 10px; }
#page_footer p:last-child { margin-bottom: 0; }

#slider{
    position: relative;
    width: 800px;
    height: 600px;
}

#slider img{
    position: absolute;
    top: 0px;
    left: 0px;
    display: none;
}